.Player {
  width: 100%;
}

.section {
  display: inline-block;
  max-width: 1000px;
  text-align: left;
  vertical-align: top;
}

.player-wrapper {
  width: 1000px;
}

.react-player {
  background: #f6f6f6;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16),
    0 14px 19px 0 rgba(0, 0, 0, 0.07);
}