.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
}

.Modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 800px;
  border-radius: 10px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.Modal > * {
  margin-left: 16px;
  margin-right: 16px;
}
.Modal > *:first-child {
  margin-top: 16px;
}
.Modal p.title {
  font-size: 16pt;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.Modal .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  border-top: 2px solid #bebebe;
  border-bottom: 2px solid #bebebe;
  background-repeat: no-repeat;
}
.Modal .content p {
  padding: 8px;
  font-size: 12pt;
  color: #999;
}
.Modal .button-wrap {
  margin: 0;
  /* margin-top: 8px; */
}
.Modal .button-wrap button {
  width: 100%;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
  background-color: #f6f6f6;
  font-size: 14pt;
  color: black;
  border: 0;
  cursor: pointer;
}
.Modal .button-wrap button:hover {
  background-color: #7f49c8;
}
.Modal .button-wrap button:active {
  background-color: #7e49c8;
}

.Modal-overlay.Modal-anim-enter {
  opacity: 0;
  transition: all 0.2s;
}
.Modal-overlay.Modal-anim-enter.Modal-anim-enter-active {
  opacity: 1;
}
.Modal-overlay.Modal-anim-leave {
  opacity: 1;
  transition: all 0.2s;
}
.Modal-overlay.Modal-anim-leave.Modal-anim-leave-active {
  opacity: 0;
}
.Modal.Modal-anim-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.2s;
}
.Modal.Modal-anim-enter.Modal-anim-enter-active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.Modal.Modal-anim-leave {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s;
}
.Modal.Modal-anim-leave.Modal-anim-leave-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
}

.Modal-scrollbars {
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.img-text {
  flex-direction: column;
  flex-wrap: wrap;
  border: black 1px;
}
.img-con {
  flex-direction: row;
  height: 50%;
  flex-wrap: wrap;
  overflow: hidden;
}

.video-con {
  width: 1000px;
}

.text-con {
  flex-direction: row;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.space-between {
  width: 20px;
}

.Modal-left-scrollbars {
  background-color: #f6f6f6;
}

.Modal-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 100%;
}

.Modal-right-scrollbars {
  background-color: #f6f6f6;
}

.Modal-vertical-line {
  width: 2px;
  height: 100%;
  background-color: #bebebe;
}

.Modal-scrollbars-left-element img {
  width: 100%;
}

.Modal-scrollbars-right-element {
  font-size: 2em;
}

.Modal-download-button {
  font-family: "Roboto medium", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  height: 54px;
  min-width: 100px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 100px;
  background: rgb(99, 68, 198);
  color: #fff;
  outline: 0;
}

.Modal-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Modal-buttons audio {
  margin: 0px 15px 10px 0px; 
}

.Modal-buttons button {
  margin-left: 15px
}

.Modal-buttons-description {
  color: #7a7a7a;
  letter-spacing: 0.7px;
  line-height: 20px;
  font-size: 12px;
}

.Modal-buttons-description li {
  padding-bottom: 5px;
}

.Modal-scrollbars-right-element {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 13px;
  padding-bottom: 9px;
  line-height: 21px;
  color: #444444;
  letter-spacing: 0.3px;
}

.space-between {
  display: inline-block;
  width: 500px;
}

.Modal-swear-text {
  font-size: 16px;
  font-style: oblique;
}

.Modal-swear-time {
  font-size: 14px;
  padding-right: 20px;
}

.Modal-scrollbars-left-element {
  min-height: 27vw;
  height: calc(100%);
  min-width: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #cacaca;
}

.Modal-empty-labels {
  margin: 10px 5px;
  font-style: italic;
  padding: 10px;
  font-size: 25px;
  color: #c2c2c2;
}