/* .voice-wrapper {
  width: 702px;
  margin-right: 60px;
}

#voiceFilter-title {
  background-color: #f1f8ff;
  width: 668px;
  border: 1px solid;
  border-color: #c8e1ff;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 14px;
}


#voice-filter {
  overflow: scroll;
  background-color: #eeeeee;
  width: 700px;
  height: 382px;
  border: 1px solid #d1d5da;
  border-top: none;
} */

