.FeedbackModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
}

.FeedbackModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 800px;
  border-radius: 10px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.FeedbackModal > * {
  margin-left: 16px;
  margin-right: 16px;
}

.FeedbackModal > *:first-child {
  margin-top: 16px;
}

.FeedbackModal p.title {
  font-size: 16pt;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.FeedbackModal .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  border-top: 2px solid #bebebe;
  border-bottom: 2px solid #bebebe;
  background-repeat: no-repeat;
}

.FeedbackModal .content p {
  padding: 8px;
  font-size: 12pt;
  color: #999;
}

.FeedbackModal .button-wrap {
  margin: 0;
  /* margin-top: 8px; */
}

.FeedbackModal .button-wrap button {
  width: 100%;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
  background-color: #f6f6f6;
  font-size: 14pt;
  color: black;
  border: 0;
  cursor: pointer;
}

.FeedbackModal .button-wrap button:hover {
  background-color: #7f49c8;
}

.FeedbackModal .button-wrap button:active {
  background-color: #7e49c8;
}

.FeedbackModal-video-wrapper {
  width: 100%;
}

.FeedbackModal-overlay.Modal-anim-enter {
  opacity: 0;
  transition: all 0.2s;
}
.FeedbackModal-overlay.Modal-anim-enter.Modal-anim-enter-active {
  opacity: 1;
}
.FeedbackModal-overlay.Modal-anim-leave {
  opacity: 1;
  transition: all 0.2s;
}
.FeedbackModal-overlay.Modal-anim-leave.Modal-anim-leave-active {
  opacity: 0;
}
.FeedbackModal.Modal-anim-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.2s;
}
.FeedbackModal.Modal-anim-enter.Modal-anim-enter-active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.FeedbackModal.Modal-anim-leave {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s;
}
.FeedbackModal.Modal-anim-leave.Modal-anim-leave-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
}


