.Filter-container {
  width: 100%;
  margin-bottom: 100px;
}

.Filter-filter-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.inner-filter-wrapper {
  width: 30%;
}
.filter-wrapper {
  width: 100%;
  height: 100%;
}

.Filter-box {
  width: 100%;
  height: calc(45vw * 493 / 684);
}

.filter-box-space {
  width: 70px;
}

.Filter-video-filter {
  max-width: 684px;
  /* height: auto; */
  background-image: url('../../img/Video_filter_box.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-width: 0;
  cursor: pointer;
}
.Filter-voice-filter {
  max-width: 684px;
  background-image: url('../../img/Voice_filter_box.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-width: 0;
  cursor: pointer;
}

.Filter-feedback-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.Filter-feedback-button {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  height: 50px;
  min-width: 400px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 100px;
  /* background: rgba(103, 58, 183, 1); */
  background: black;
  color: #fff;
  outline: 0;
}