.Filter-container {
  width: 100%;
  margin-bottom: 100px;
}

.Filter-filter-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.inner-filter-wrapper {
  width: 30%;
}

.Filter-wrapper {
  /* width: 100%;
  height: 100%; */
  transition: max-height 1000ms ease-in-out;
  overflow-y: hidden;
}

.Filter-wrapper-closed {
  max-height: 0px;
  transition: max-height 0ms linear;
}

.Filter-wrapper-closed .Filter-filter-box {
  display: none;
}

.filter-box-space {
  width: 70px;
}

.Filter-feedback-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.Filter-feedback-button {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  height: 50px;
  min-width: 400px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 100px;
  /* background: rgba(103, 58, 183, 1); */
  background: black;
  color: #fff;
  outline: 0;
}

.Filter-not-yet {
  color: #7a7a7a;
  letter-spacing: -0.25px;
  text-align: center;
  opacity: 0.4;
  font-size: 1.5em;
}