.Filter-container {
  width: 100%;
  margin-bottom: 100px;
}

.Filter-filter-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.inner-filter-wrapper {
  width: 30%;
}
.filter-wrapper {
  width: 100%;
  height: 100%;
}

.Filter-box {
  width: 100%;
  height: calc(45vw * 493 / 684);
}

.filter-box-space {
  width: 70px;
}

.Filter-video-filter {
  max-width: 684px;
  /* height: auto; */
  background-image: url('../../img/Video_filter_box.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-width: 0;
  cursor: pointer;
}

.Filter-voice-filter {
  max-width: 684px;
  background-image: url('../../img/Voice_filter_box.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-width: 0;
  cursor: pointer;
}