.FilterElementor-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* width: 1120px;
  height: 108px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.FilterElementor-heading-title {
  font-size: 28px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}

.FilterElementor-heading-bar {
  display: block;
  width: 50px;
  height: 1px;
  background: #a5b0b5;
  margin-left: auto;
  margin-right: auto;
}