.object-detection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: wrap;
    margin-bottom : 40px;
}

.object-title {
    text-align: center;
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: #a5b0b5 1px solid;
}


.object-text {
    color: #7a7a7a;
    font-size : 20px;
    /* text-align: center; */
    width: 500px;
    
}

.object1-img {
    width: 500px;
    height: 400px;
}

.object1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.object-space {
    width: 100px;
}



.ob-con {
    /* background-color: #d2d2d2; */
}