.object-detection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: wrap;
    margin-bottom: 30px;
  }

.object-title {
    text-align: center;
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.object-text {
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #7a7a7a;
    width: 500px;
    
}

.object1-img {
    width: 500px;
    height: 400px;
}

.object1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.rcnn {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.object-space {
    width: 100px;
}

.font-in {
    font-weight: 700;
}

.rcnn-img {
    height: 200px;
    border: 1px solid black;
    justify-content: center;
    width: 300px;
}

.ob-con {
    /* background-color: #d2d2d2; */
}