.object-detection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: wrap;
}

.object-title {
    text-align: center;
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.object-bar {
  display: block;
  width: 50px;
  height: 1px;
  background: #a5b0b5;
  margin-left: auto;
  margin-right: auto;
}

.image-text {
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #7a7a7a;
    width: 800px;
}

.object1-img {
    width: 500px;
    height: 400px;
}

.object1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.rcnn {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.object-space {
    width: 100px;
}

.font-in {
    font-weight: 700;
}

.rcnn-img {
    height: 200px;
    border: 1px solid black;
    justify-content: center;
}

.ob-con {
    /* background-color: #d2d2d2; */
}

.img-stt {
    width : 800px;
    height: 200px;
    margin-bottom: 40px;
}

.stt-con {
    display: flex;
    justify-content: center;
}

.stt-text {
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #7a7a7a;
    font-size : 20px;
    width: 800px;
}

.text-con {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.analysis-img {
    width: 500px;
    height: 300px;
    margin-bottom: 40px;
}