.Text {
  width: 415px;
  height: 285px;
}

.Text-text-title {
  width: auto;
  padding: 0px 16px 0px 0px;
  font-size: 23px;
  font-weight: 600;
  font-family: 'Roboto'; 
  text-align: center;
}

.Text-text-description {
  font-size: 16px;
  line-height: 28px;
  width: auto;
  height: 206px;
  padding: 16px;
  margin-bottom: 32px;
}

.Text-text-description ul {
  color: #7a7a7a;
  padding-left: 5px;
  letter-spacing: -0.25px;
  font-size: 14px;
}

.Text-text-description li {
  padding-bottom: 20px;
}

.Text-text-emphasis {
  display: inline;
  color: black;
  font-weight: 600
}