.Introduction-first-flex-items-container {
  display: flex;
  color: #ffffff;
  height: 520px;
  background-image: url(../../img/background_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.Introduction-first-flex-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;
  padding-bottom: 55px;
}

.Introduction-first-flex-items .Introduction-text-title {
  width: 505px;
  height: 128px;
  font-size: 130px;
  text-align: center;
  margin-bottom: 45px;
}

.Introduction-first-flex-items .Introduction-text-description {
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -0.5px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.Introduction-second-flex-items-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.Introduction-second-flex-items {
}

.Introduction-second-flex-items .Introduction-text-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 1120px;
  height: 108px;
  margin-bottom: 30px;
} 

.Introduction-second-flex-items .Introduction-text-title {
  font-size: 28px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}

.Introduction-second-flex-items .Introduction-text-bar {
  display: block;
  width: 50px;
  height: 1px;
  background: #a5b0b5;
  margin-left: auto;
  margin-right: auto;
}

.Introduction-second-flex-items .Introduction-text-description {
  color: #7a7a7a;
  width: 1120px;
  height: 128px;
  text-align: center;
  line-height: 2em;
  letter-spacing: -0.25px;
}

a:link {
  text-decoration: none;
}