.Introduction-first-flex-items-container {
  height: 520px;
  background-image: url(../../img/background_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
